!!!
%html
  %head
    %title Startup Trade Secondary Market
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/stylesheets/normalize.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/sandbox.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/icons.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/app.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.8/js/jquery.tablesorter.combined.min.js" }
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.8/css/theme.blue.css", :rel => "stylesheet", :type => "text/css"}/

  %body.bgc-grey
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Startup Trade
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - MenuItems.each do |name, path|
              = haml :"_menu_item", :locals => {:name => name, :path => path}

            %li{ :class => request.path_info == "/search" ? "active" : ""}
              %a{"data-icon" => "search12", :title => "Search", :href => "/search" }
            - unless is_logged_in?
              %li{ :class => request.path_info == "/login" ? "active" : ""}
                %a{"data-icon" => "login", :href => "/login"}
            - else
              - user = User.find(session[:user_id])
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %img.avatar{ :height => 20, :src => user.user_image_url }
                %ul.dropdown-menu
                  %li
                    %a{:href => "/profile" }
                      %strong= user.name
                  %li
                    %a{:href => "/offers"} Offers
                  %li
                    %a{:href => "/sectors"} Sectors
                  %li
                    %a{:href => "/roles"} Roles
                  %li
                    %a{:href => "/startups/mostinvestors/>30"} Most Investors
                  %li
                    %a{:href => "/entities/mostinvestments/>30"} Most Investments
                  %li
                    %a{:href => "/logout", "data-icon" => "log-out"}

            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %span{ "data-icon" => "dots-three-horizontal" }
              %ul.dropdown-menu
                %li
                  %a{:href => "/aboutus"} About Us
                %li
                  %a{:href => "/contact"} Contact Us
                %li
                  %a{:href => "/sitemap"} Sitemap

    .container
      = yield

    %footer.footer
      .container
        %p.text-muted Copyright 2017 Startup Trade. All rights reserved.

    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" }
